{{#partial "content"}}
<form action="/sightings/new" method="post">
    <select name="animal">
        {{#each animals}}
                <option>{{the_name}}</option>
            {{/each}}
    </select>
    <select name="specie">
        {{#each species}}
            <option>{{the_name}}</option>
        {{/each}}
    </select>
    <select name="location">
        {{#each locations}}
            <option>{{location}}</option>
        {{/each}}
    </select>
    <select name="ranger">
        {{#each rangers}}
            <option>{{ranger}}</option>
        {{/each}}
    </select>

    <select name="age">
        <option>{{ageInfo1}}</option>
        <option>{{ageInfo2}}</option>
        <option>{{ageInfo3}}</option>
    </select>

    <select name="health">
        <option>{{healthInfo1}}</option>
        <option>{{healthInfo2}}</option>
        <option>{{healthInfo3}}</option>
    </select>

    <button type="submit">Send</button>
</form>
{{/partial}}
{{> layout.hbs}}