{{#partial "content"}}
    {{#if allSightings}}
        {{#each allSightings}}
            <p>{{animal_id}}</p>
            <p>{{species_id}}</p>
            <p>{{location_id}}</p>
            <p>{{ranger_id}}</p>
        {{/each}}
        {{else}}
        <p>No sightings</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}