{{#partial "content"}}
    {{#if allSightings}}
        {{#each allSightings}}
            <p>{{animal_id}}</p>
            <p>{{species_id}}</p>
            <p>{{location_id}}</p>
            <p>{{ranger_id}}</p>
            <p>{{health}}</p>
            <p>{{age}}</p>
            <p>{{sighted_on}}</p>
        {{/each}}

        <a href="/sightings/most-recent">Filter</a>
        {{else}}
        <p>No sightings</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}